:root {
  --light-blue: #aed6dc;
  --dark-blue: #4a536b;
  --light-medium-blue: #6d7488;
  --light-pink: #ff9a8d;
  --cream-white: rgb(255, 252, 240);

  --light-medium-blue-half: #6d74887a;
  --light-blue-half: #aed6dc7c;
}
